header {
  background: $pink;
  justify-content: center;
  align-items: center;
}

nav {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 3rem;
  text-decoration: underline;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  display: block;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: $yellow;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

nav ul li a:hover {
  color: $yellow;
}

h1 {
  margin-top: 200px;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 3px;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
}

header .arrow {
  padding: 0px 0 50px 0;
}

.flower {
  color: $yellow;
  display: inline-block;
   // animation: spin infinite 20s linear;
  animation: spin 10s ease-in-out infinite alternate;
}


.large {
  font-size: 15rem;
  position: relative;
  right: -70%;
  // top: -40%;
}

.small {
  // transform: translate(452px, -160px);
  font-size: 7rem;
  position: relative;
  right: -70%;
  // top: -40%;
}

.medium {
  // transform: translate(700px, -226px);
  font-size: 3rem;
  position: relative;
  right: -73%;
  top: -40%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


// humburger menu starts here
#burger-menu {
  display: none;
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index:2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #fff;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left:0;
  transform: rotate(90deg);
  opacity:0;
  width:0;
}

#menu{
  z-index:1;
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:0;
  height:0;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  padding-top:20px;
  transition: all 0.3s ease-in-out;
  
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:100px;
  background:rgba(0,0,0,0.8);
}

#menu li{
  list-style:none;
}
#menu a{
  color:#fff;
  display:block;
  font-size: 32px;
  margin-bottom:30px;
  text-decoration:none;
}